<h2>BLUE</h2>
<ul>
  <% colorArray.forEach((oneColor)=>{%>
    <% if (oneColor.category === 'blue') {%>
<div class="colorBlocks">
  <li>
  <input class='colorBox' type='color' value= '<%=oneColor.hex%>' >
  <p><%= oneColor.keyword + " " + oneColor.hex%> </p>
  </li>
    <% } %>
</div>
<%  })%>

</ul>
