<h2>RED</h2>
<ul>
<div class="colorBlocks">
  <li>
  <input class='colorBox' type='color' value= '<%=randomColor.hex%>' >
  <p><%= randomColor.keyword + " " + randomColor.hex%> </p>
  </li>
</div>
<%  })%>

</ul>
